@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@font-face {
    font-family: "RocknRoll One";
    src: url(fonts/RocknRoll-One-Regular-400.ttf);
}
div {
    max-width: 1600px;
}
#content {
    margin: 0auto;
}
body {
    background-color: #233d4d;
    text-align: center;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 22px;
}
.home-title{
    color: #fcca46;
    font-family: "RocknRoll One", sans-serif;
    font-size: 2em;
    text-align: center;
}
header {
    background-color: #D1CFB3;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
}
#hero-msg1, #hero-msg4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
nav a {
    text-align: center;
    color: #DF5A01;
    text-decoration: none;
}
nav a:hoover {
    background-color: #233d4d;
    color: #fcca46;
}
.book, .join {
    background-color: #233d4d;
    color: #fcca46;
    text-decoration: none;
    font-family: sans-serif, Helvetica, Arial
}
.book:hoover, .join:hoover {
    background-color: #233d4d;
    color: #fcca46;
}
#background {
    background-color: #233d4d;
}
.msg {
    background-color: #D1CFB3;
    line-height: ;
}
footer {
    background-color: #D1CFB3;
}
h4 {
    color: #DF5A01;
}
.msg h2 {
    color: #DF5A01;
}
.msg p {
    color: #DF5A01;
}
footer h3 {
    color: #DF5A01;
    text-decoration: underline;
    font-family: "RocknRoll One", sans-serif;
}
footer a {
    color: #DF5A01;
    text-decoration: none;
}
footer a:hoover {
    color: #fcca46;
    text-decoration: underline;
}
.logo-link {
    display: block;
    text-align: center;
    width: 80px;
    margin: 0 auto;
}
.icon {
    width: 80px;
}
#hero-img {
    display: block;
    text-align: center;
    width: 100%;
}