#content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    font-size: 46px;
    margin: 0 auto;
    text-align: center;
}
.img {
    width: 50%;
    border-radius: 10px;
}
h1 {
    font-size: 28px;
    color: darkgray;
}
h2 {
    font-size: 64px;
    color: black;
}
p {
    margin: 0 auto;
    color: darkgray;
    font-size: 36px;
}
.bottom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1e90ff;
    justify-content: center;
}
.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.box2 {
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
}
.box3 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.box4 {
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
}
.box5 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.box6 {
    grid-column: 3/4;
    grid-row: 1/2;
    color: white;
}
sup {
    vertical-align: super;
    font-size: smaller;
    color: white;
}
h3 {
    font-size: 46px;
    color: white;
}
.p2 {
    vertical-align: top;
}
h4 {
    font-size: 46px;
    color: white;
}
h5 {
    font-size: 46px;
    color: white;
}