.div1 img {
    display: block;
    width: 100%;
}
body {
    background-color: #adadad;
    margin: 0 auto;
    text-align: center;
}
.div2 img {
    width: 20%;
    margin: 5%;
    border-radius: 200px;
    border-style: solid;
    border-width: 10px;
}