/*W3 Schools*/
.parallax2 {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*Current*/
  body, html {
    height: 100%;
    margin: 0px;
  }
.parallax {
    position: fixed;
    opacity: 0.5;
    /* Full height */ 
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /* Create the parallax scrolling effect */
    z-index: -1;
  }
  .parallax img {
      width: 100%;
  }