@import url('https://fonts.googleapis.com/css2?lang="en"family=Actor&family=Sniglet&display=swap');
@font-face {
    font-family: 'Actor', "Singlet", sans-serif;
    src: url(fonts/Actor-Singlet.ttf);
}
/*--primary-color: DARK RED #a4161a;
  --secondary-color: LIGHT RED #c71a1d;
  --accent1-color: WHITE #e0e0e0;
  --accent2-color: BLACK #161a1d;
  --Misc. #249BE0 BLUE */
  #content {
    max-width: 1600px;
    color: #00171f;
    font-family: 'Actor', sans-serif;
}
header {
    background-color: #a4161a;
    text-align: center;
    display: grid;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: #e0e0e0;
    font-size: 28px;
    text-decoration: none;
    margin: 0 auto;
    padding: 4%;
}
nav a:hover {
    background-color: #249BE0;
    color: #00171f;
}
#hero {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
#hero-box {
    display: block;
    text-align: center;
    width: 100%;
}
.hero-img {
    width: 60%;
    max-height: 90%;
    padding-top: 30px;
    justify-self: auto;
}
h1 {
    font-family: 'Singlet', sans-serif;
    font-size: 52px;
    color: #c71a1d;
    justify-self: auto;
    padding-bottom: 50px;
    margin-top: auto;
}
.parallax {
    background-image: url("Images/Home3.1.jpg");
    height: 300px;
    z-index: 1;
}
/*body, html {
    height: 100%;
  }
  
  .parallax {
    position: relative;
    /* The image used 
    background-image: url("img_Home2.1.jpg");
  
     Full height 
    height: 100%;
  
     Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/
#home-grid {
    display: grid;
    grid-template-columns: 100px 2fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 100px 50px 300px 200px 75px 200px 1fr;
}
.welcome {
    text-align: center;
    border: 3px solid;
    background-color: #c71a1d;
    color: #e0e0e0;
}
h2 {
    font-size: 32px;
}
p {
    font-family: 'Singlet', sans-serif;
    font-size: 26px;
}
.sub1 {
    grid-row: 3/4;
    grid-column: 2/4;
    z-index: 1;
    border: 1px solid;
    background-color: #c71a1d;
    color: #00171f;
    text-align: left;
}
.city-img {
    grid-row: 2/5;
    grid-column: 3/5;
    padding-left: 80px;
    width: 100%;
}
.faq {
    grid-row: 7/8;
    grid-column: 2/4;
    z-index: 1;
    width: 95%;
    text-align: left;
    border: 1px solid;
    background-color: #c71a1d;
    margin-left: 75px;

}
.faq-img {
    grid-column: 3/5;
    grid-row: 6/8; 
    width: 100%;
    padding-left: 200px;
    padding-top: 200px;
}
footer {
    background-color: #a4161a;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #e0e0e0;
    font-size: 28px;
}
footer a:hover {
    color: #00171f;
    background-color: #249BE0;
}