@import url('https://fonts.googleapis.com/css2?family=Actor&family=Sniglet&display=swap');
/*--primary-color: #EBEBEB;
--secondary-color: #00171F;
--accent1-color: #003459;
--accent2-color: #00A8E8;*/
#content {
    max-width: 1600px;
    background-color: #C71A1D;
    color: #00171f;
}
#hero-img {
    max-width: 400px;
    max-height: 350px;
}
#city-img {
    max-width: 2600px;
    max-height: 240px;
}