@import url('https://fonts.googleapis.com/css2?family=Actor&family=Sniglet&display=swap');
/*--primary-color: #a4161a;
  --secondary-color: #c71a1d;
  --accent1-color: #e0e0e0;
  --accent2-color: #161a1d;*/
#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #C71A1D;
    color: #00171f;
}
header {
    background-color: #C71A1D;
    text-align: center;
    font-family: 'Actor', sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}
#hero-img {
    max-width: 400px;
    max-height: 350px;
}
#city-img {
    max-width: 2600px;
    max-height: 240px;
}
footer {
    font: "Akaya Telivigal";
    background-color: #a4161a;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}